In [101]:
import numpy as np
np.set_printoptions(threshold=np.inf)
import sklearn as sk
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelBinarizer
from scipy import stats
%matplotlib inline

# Importar Raw Data
El siguiente data set consiste en definir si una persona con los features (Country, Age y Salary), compra o no (Purchased) un objeto item (etiquetas)

In [102]:
# Importar Raw Data
# https://www.kaggle.com/yashsawarn/wifi-stretgth-for-rooms
# Base de datos modificados para generar Valores Faltantes
# Base de datos modificadas para generar Outliers
dataset = pd.read_csv('train-wifi stretgth for rooms.csv')
dataset = dataset.head(n=30)
print("Cantidad de elementos NaN por columna")
print(dataset.isna().sum())
print("******************************************************")
print("Visualizacion de los primeros 30 elementos del dataset")
dataset.head(n=100)

Cantidad de elementos NaN por columna
ID          0
Router A    0
Router B    2
Router C    0
Router D    2
Router E    1
Router F    1
Router G    1
Room ID     0
dtype: int64
******************************************************
Visualizacion de los primeros 30 elementos del dataset

,ID,Router A,Router B,Router C,Router D,Router E,Router F,Router G,Room ID
0,ID_1,-64.0,-56.0,-61.0,-66.0,-71.0,-82.0,-81.0,1
1,ID_2,-68.0,-57.0,-61.0,-65.0,-71.0,-85.0,-85.0,1
2,ID_3,-63.0,-60.0,-60.0,-67.0,-76.0,-85.0,-84.0,1
3,ID_4,-61.0,-60.0,-68.0,-62.0,-77.0,-90.0,-80.0,1
4,ID_5,-63.0,-65.0,-60.0,-63.0,-77.0,-81.0,-87.0,1
5,ID_6,-64.0,NaN,-63.0,-66.0,-76.0,-2.0,-83.0,1
6,ID_7,-65.0,-61.0,-65.0,-67.0,-69.0,-87.0,-84.0,1
7,ID_8,-61.0,-63.0,-58.0,-66.0,-74.0,-87.0,-82.0,1
8,ID_9,-65.0,-60.0,-59.0,-63.0,-76.0,-86.0,-82.0,1
9,ID_10,-62.0,-60.0,-66.0,-68.0,-80.0,-86.0,-91.0,1
10,ID_11,-67.0,-61.0,-62.0,-67.0,-77.0,-83.0,-91.0,1
11,ID_12,-65.0,-59.0,-61.0,-67.0,NaN,-86.0,-81.0,1
12,ID_13,-63.0,-57.0,-61.0,-65.0,-73.0,-84.0,-84.0,1
13,ID_14,-66.0,-60.0,-65.0,-62.0,-70.0,-85.0,-83.0,1
14,ID_15,-61.0,-59.0,-65.0,NaN,-74.0,-89.0,-87.0,1
15,ID_16,-67.0,-60.0,-59.0,-61.0,-71.0,-86.0,-91.0,1
16,ID_17,-63.0,-56.0,-6.0,-62.0,-70.0,-84.0,-91.0,1
17,ID_18,-60.0,-54.0,-59.0,-65.0,-73.0,-83.0,-84.0,1
18,ID_19,-60.0,-58.0,-60.0,-61.0,-73.0,-84.0,-88.0,1
19,ID_20,-62.0,-59.0,-63.0,-64.0,-70.0,-84.0,-84.0,1
20,ID_21,-63.0,-59.0,-64.0,-66.0,-72.0,-84.0,-90.0,1
21,ID_22,-65.0,NaN,-66.0,-65.0,-68.0,-82.0,-85.0,1
22,ID_23,-63.0,-56.0,-63.0,-65.0,-72.0,-82.0,-89.0,1
23,ID_24,-67.0,-60.0,-66.0,NaN,-75.0,-86.0,-87.0,1
24,ID_25,-63.0,-57.0,-67.0,-66.0,-79.0,-86.0,-89.0,1
25,ID_26,-66.0,-59.0,-64.0,-68.0,-68.0,-97.0,-83.0,1
26,ID_27,-65.0,-61.0,-64.0,-68.0,-77.0,-86.0,NaN,1
27,ID_28,-66.0,-57.0,-65.0,-69.0,-78.0,-85.0,-85.0,1
28,ID_29,-67.0,-57.0,-64.0,-71.0,-75.0,NaN,-87.0,1
29,ID_30,-65.0,-62.0,-62.0,-65.0,-77.0,-84.0,-85.0,1

# Tecnica de sustitucion de valores faltantes.

In [105]:
dataset.fillna(dataset.mean(), inplace = True)
print("Cantidad de elementos NaN por columna")
print(dataset.isna().sum())
print("******************************************************")
print("Se observa que los NaN han sido eliminados")
dataset.head(n=100)

Cantidad de elementos NaN por columna
ID          0
Router A    0
Router B    0
Router C    0
Router D    0
Router E    0
Router F    0
Router G    0
Room ID     0
dtype: int64
******************************************************
Se observa que los NaN han sido eliminados

,ID,Router A,Router B,Router C,Router D,Router E,Router F,Router G,Room ID
0,ID_1,-64.0,-56.000000,-61.0,-66.000000,-71.000000,-82.000000,-81.00000,1
1,ID_2,-68.0,-57.000000,-61.0,-65.000000,-71.000000,-85.000000,-85.00000,1
2,ID_3,-63.0,-60.000000,-60.0,-67.000000,-76.000000,-85.000000,-84.00000,1
3,ID_4,-61.0,-60.000000,-68.0,-62.000000,-77.000000,-90.000000,-80.00000,1
4,ID_5,-63.0,-65.000000,-60.0,-63.000000,-77.000000,-81.000000,-87.00000,1
5,ID_6,-64.0,-59.035714,-63.0,-66.000000,-76.000000,-2.000000,-83.00000,1
6,ID_7,-65.0,-61.000000,-65.0,-67.000000,-69.000000,-87.000000,-84.00000,1
7,ID_8,-61.0,-63.000000,-58.0,-66.000000,-74.000000,-87.000000,-82.00000,1
8,ID_9,-65.0,-60.000000,-59.0,-63.000000,-76.000000,-86.000000,-82.00000,1
9,ID_10,-62.0,-60.000000,-66.0,-68.000000,-80.000000,-86.000000,-91.00000,1
10,ID_11,-67.0,-61.000000,-62.0,-67.000000,-77.000000,-83.000000,-91.00000,1
11,ID_12,-65.0,-59.000000,-61.0,-67.000000,-73.758621,-86.000000,-81.00000,1
12,ID_13,-63.0,-57.000000,-61.0,-65.000000,-73.000000,-84.000000,-84.00000,1
13,ID_14,-66.0,-60.000000,-65.0,-62.000000,-70.000000,-85.000000,-83.00000,1
14,ID_15,-61.0,-59.000000,-65.0,-65.357143,-74.000000,-89.000000,-87.00000,1
15,ID_16,-67.0,-60.000000,-59.0,-61.000000,-71.000000,-86.000000,-91.00000,1
16,ID_17,-63.0,-56.000000,-6.0,-62.000000,-70.000000,-84.000000,-91.00000,1
17,ID_18,-60.0,-54.000000,-59.0,-65.000000,-73.000000,-83.000000,-84.00000,1
18,ID_19,-60.0,-58.000000,-60.0,-61.000000,-73.000000,-84.000000,-88.00000,1
19,ID_20,-62.0,-59.000000,-63.0,-64.000000,-70.000000,-84.000000,-84.00000,1
20,ID_21,-63.0,-59.000000,-64.0,-66.000000,-72.000000,-84.000000,-90.00000,1
21,ID_22,-65.0,-59.035714,-66.0,-65.000000,-68.000000,-82.000000,-85.00000,1
22,ID_23,-63.0,-56.000000,-63.0,-65.000000,-72.000000,-82.000000,-89.00000,1
23,ID_24,-67.0,-60.000000,-66.0,-65.357143,-75.000000,-86.000000,-87.00000,1
24,ID_25,-63.0,-57.000000,-67.0,-66.000000,-79.000000,-86.000000,-89.00000,1
25,ID_26,-66.0,-59.000000,-64.0,-68.000000,-68.000000,-97.000000,-83.00000,1
26,ID_27,-65.0,-61.000000,-64.0,-68.000000,-77.000000,-86.000000,-85.62069,1
27,ID_28,-66.0,-57.000000,-65.0,-69.000000,-78.000000,-85.000000,-85.00000,1
28,ID_29,-67.0,-57.000000,-64.0,-71.000000,-75.000000,-82.448276,-87.00000,1
29,ID_30,-65.0,-62.000000,-62.0,-65.000000,-77.000000,-84.000000,-85.00000,1

# Tecnica de deteccion/eliminacion de outliers.

In [104]:
print(type(dataset))
def removeOutlier(matrix,column):
    #matrix = matrix.to_numpy()
    columna = matrix[:,column] 
    mean = np.mean(columna, axis = 0)  
    print("Media",mean)
    sd = np.std(columna, axis = 0)
    print("Desviacion estandar",sd)
    i = 0
    print((columna))
    for k in columna:        
        if ((k < (mean - 3*sd)) or (k > (mean + 3*sd))):
            print("***************************************")            
            print("Outlier removido en columna #:",column, "por el valor",k)
            print(matrix[i,:])
            matrix = np.delete(matrix,i,0)
        i = i +1
    return matrix


datasetSinOutlier = dataset.to_numpy() 

for b in range(1,8):
    print(b)
    datasetSinOutlier = removeOutlier(datasetSinOutlier,b)
    


#print(datasetSinOutlier)

<class 'pandas.core.frame.DataFrame'>
1
Media -64.0
Desviacion estandar 2.1908902300206643
[-64.0 -68.0 -63.0 -61.0 -63.0 -64.0 -65.0 -61.0 -65.0 -62.0 -67.0 -65.0
 -63.0 -66.0 -61.0 -67.0 -63.0 -60.0 -60.0 -62.0 -63.0 -65.0 -63.0 -67.0
 -63.0 -66.0 -65.0 -66.0 -67.0 -65.0]
2
Media -59.035714285714285
Desviacion estandar 2.2580543668852444
[-56.0 -57.0 -60.0 -60.0 -65.0 -59.035714285714285 -61.0 -63.0 -60.0 -60.0
 -61.0 -59.0 -57.0 -60.0 -59.0 -60.0 -56.0 -54.0 -58.0 -59.0 -59.0
 -59.035714285714285 -56.0 -60.0 -57.0 -59.0 -61.0 -57.0 -57.0 -62.0]
3
Media -60.9
Desviacion estandar 10.5240993280502
[-61.0 -61.0 -60.0 -68.0 -60.0 -63.0 -65.0 -58.0 -59.0 -66.0 -62.0 -61.0
 -61.0 -65.0 -65.0 -59.0 -6.0 -59.0 -60.0 -63.0 -64.0 -66.0 -63.0 -66.0
 -67.0 -64.0 -64.0 -65.0 -64.0 -62.0]
***************************************
Outlier removido en columna #: 3 por el valor -6.0
['ID_17' -63.0 -56.0 -6.0 -62.0 -70.0 -84.0 -91.0 1]
4
Media -65.47290640394088
Desviacion estandar 2.2951938427719933
[-66.0 -65.0 -67.0 -62.0 -63.0 -66.0 -67.0 -66.0 -63.0 -68.0 -67.0 -67.0
 -65.0 -62.0 -65.35714285714286 -61.0 -65.0 -61.0 -64.0 -66.0 -65.0 -65.0
 -65.35714285714286 -66.0 -68.0 -68.0 -69.0 -71.0 -65.0]
5
Media -73.88822829964327
Desviacion estandar 3.2307571947660443
[-71.0 -71.0 -76.0 -77.0 -77.0 -76.0 -69.0 -74.0 -76.0 -80.0 -77.0
 -73.75862068965517 -73.0 -70.0 -74.0 -71.0 -73.0 -73.0 -70.0 -72.0 -68.0
 -72.0 -75.0 -79.0 -68.0 -77.0 -78.0 -75.0 -77.0]
6
Media -82.3947681331748
Desviacion estandar 15.486013196294452
[-82.0 -85.0 -85.0 -90.0 -81.0 -2.0 -87.0 -87.0 -86.0 -86.0 -83.0 -86.0
 -84.0 -85.0 -89.0 -86.0 -83.0 -84.0 -84.0 -84.0 -82.0 -82.0 -86.0 -86.0
 -97.0 -86.0 -85.0 -82.44827586206897 -84.0]
***************************************
Outlier removido en columna #: 6 por el valor -2.0
['ID_6' -64.0 -59.035714285714285 -63.0 -66.0 -76.0 -2.0 -83.0 1]
7
Media -85.52216748768474
Desviacion estandar 3.1096095693291654
[-81.0 -85.0 -84.0 -80.0 -87.0 -84.0 -82.0 -82.0 -91.0 -91.0 -81.0 -84.0
 -83.0 -87.0 -91.0 -84.0 -88.0 -84.0 -90.0 -85.0 -89.0 -87.0 -89.0 -83.0
 -85.62068965517241 -85.0 -87.0 -85.0]

# Transformacion de datos